@import url('https://fonts.googleapis.com/css?family=Quicksand');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+SC');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

html, body {
    height: 100%;
}

body {
    margin: 0;
    background-color: #FCFCFC;
    font-family: 'Source Sans Pro', sans-serif, 'Noto Sans SC', sans-serif;
    font-size: 16px;
    color: #414141;
    word-wrap: break-word;
    letter-spacing: 1px;
  }

  .nonFooter {
      min-height: 100%;
      margin-bottom: -101px;
  }

  .mainContents {
      padding: 60px 0 121px 0;
      min-height: 100%;
      height: 100%;
  }

  .textPadding {
    padding: 10px;
    letter-spacing: 2px;
    text-align: center;
  }

  .textPadding h1::after{
      content:'';
      background: repeating-linear-gradient(-45deg, #364591, #364591 3px, transparent 3px, transparent 6px);
      height:8px;
      width: 130px;
      display: block;
      margin: 0px auto 0 auto;
  }

  .area {
    max-width: 850px;
    margin: auto;
    height: 100%;
}

.menuFont {
    font-family: 'Quicksand', sans-serif, 'Noto Sans SC', sans-serif;
    font-size: 16px;
}