:root {
    --related-p: 40px;
    --equal-p: 16px;
    --last-bottom: 80px;
    --text-p: 24px;
    --img-p: 32px;


    --book-color: #2D4A73;
    --book-sub-color: #81ADEC;
    --kaden-color: #FF984D;
    --kaden-sub-color: #F7E481;
    --tootie-color: #26CFCB;
    --tootie-sub-color: #C6FFFE;
    --portfolio-color: #364591;
    --portfolio-sub-color: #f8f8f8;
}

p {
    line-height: 200%;
}

.book {
    background-color: var(--book-color);
}

.bookcl {
    color: var(--book-color);
}

.bookSub {
    color: var(--book-sub-color);
}

.kaden {
    background-color: var(--kaden-color);
}

.kadencl {
    color: var(--kaden-color);
}

.kadenSub {
    color: var(--kaden-sub-color);
}

.tootie {
    background-color: var(--tootie-color);
}

.tootiecl {
    color: var(--tootie-color);
}

.tootieSub {
    color: var(--tootie-sub-color);
}

.portfolio {
    background-image: url(./img/fmymheader_black.svg);
    background-position: center center;
    background-size: cover;
}

.portfoliocl {
    color: var(--portfolio-color);
}

.portfolioSub {
    color: var(--portfolio-sub-color);
}

.cover {
    padding: 0 30px 0 30px;
}

.workTitleText {
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 48px;
    padding-bottom: 40px;
    margin-bottom: var(--related-p);
}

.category {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 24px;
    margin-bottom: 24px;
}

.titleText {
    font-family: 'Noto Sans Pro', sans-serif;
    color: #ffffff;
    word-break: keep-all;
    line-height: 210%;
    font-size: 28px;
    font-weight: bold;
    letter-spacing: 2px;
    margin-bottom: 16px;
    padding: 0 30px;
}

.year {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 22px;
    margin-bottom: 40px;
}

.overviewBottom {
    margin-bottom: var(--related-p);
}

.komidashi {
    margin-bottom: var(--equal-p);
    color: #757575;
    font-weight: bold;
    line-height: 200%;
    font-size: 18px;
}

.imgResize {
    max-width: 700px;
    min-width: 260px;
}

.imgResize img {
    width: 100%;
}

.imgResizeC {
    max-width: 500px;
    min-width: 260px;
}

.imgResizeC img {
    width: 100%;
}

.imgBottom {
    margin-bottom: var(--img-p);
}

.lastBottom {
    margin-bottom: var(--last-bottom);
}

.midashi {
    margin-bottom: 24px;
    font-weight: bold;
    font-size: 22px;
    line-height: 200%;
}

.mylist {
    display: flex;
    margin-bottom: 11px;
}

.listName {
    font-weight: bold;
    width: 30%;
    max-width: 150px;
}

.listContent {
    width: 70%;
}

.adjust69 {
    margin-bottom: 69px;
}

.workH1 {
    font-size: 28px;
    word-break: keep-all;
    line-height: 200%;
    font-weight: bold;
    margin-bottom: var(--text-p);
}

.midashiCap {
    margin-bottom: var(--text-p);
}

.process {
    font-weight: bold;
}

.pnum {
    margin-bottom: 11px;
}

.imgCap {
    margin-bottom: var(--equal-p);
}